body {
    font-family: sans-serif;
    background-color: #ffffcc;
  }
  

  #contenedor{
    border-left: 8em solid blue;
    padding-left: 2em;
  }

 
  
  
  #marco {
    margin-top: 10px;
    background-color: lightblue;
    border: outset 2px lightblue;

  }
  
  #p3 {
    display: initial;
  }
  
  #p4 {
    font-weight: bold;
  }
  
  #p5 {
    background-color: yellow;
    border: 2px solid black;
  }